#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(233, 232, 232);
}

#loginContainer{
  background: white;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}